* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    background: #f4f4f4;
}
p {
    font-weight: 300;
}
a:hover {
    text-decoration: none;
}
.row {
    margin: 0;
}
ul li {
    list-style: none;
}

.title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}
.sub-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

/* Navbar */
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: 0;
}
.navbar ul a {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

/* Home */
.home {
    height: 100vh;
    background-image: url(../images/Portada.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 50px;
}
.home h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
}

/* Ofertas */
.ofertas .col-md-4 {
    padding: 0;
    color: #fff;
}

.ofertas .col-md-4 .caption {
    position: absolute;
    bottom: 40px;
    padding: 10px 30px;
}
/* Servicios */

.servicios p {
    font-size: 16px;
}
.servicios h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

.servicios .col-md-7 {
    display: flex;
    align-items: center;
}

.servicios .caption {
    position: absolute;
    left: -35%;
    width: 70%;
    background: #fff;
    padding: 20px;
}

.contacto .icon {
    width: 50px;
}

.contacto a {
    color: #000;
}

/* Valores */

@media (min-width: 992px) {
    p {
        font-size: 18px;
    }

    .valores {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 32px;
    }
    .sub-title {
        font-size: 22px;
    }
    .navbar ul {
        width: 100%;
    }
    .navbar-brand {
        display: block;
        margin: 10px auto;
    }
    .home {
        padding: 15px;
    }
    .home h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 35px;
    }
    .servicios .col-md-7 {
        flex-direction: column;
    }
    .servicios .caption {
        position: relative;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 20px;
    }
    .valores .icon {
        width: 80px;
        display: block;
        margin: 30px auto;
    }
    .social {
        text-align: center;
    }
    .social .icon {
        display: block;
        margin: 10px auto;
    }
}
